.paginatioin{
    width: 100% !important;
    max-width: 100% !important;
    padding: 15px;
    margin-left: 33%;
}

.input{
    min-width: 98% !important;
    padding: 1% !important;
}

.but{
    padding: 1% !important;
}

.searchButton{
    background-color: rgba(241, 196, 58, 0.7) !important;
}

.labell{
    margin-top: 1%;
}