div.Margin {
    margin-top: 0px;
    max-height: 100%;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../Images/barbant.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.Register {
    margin-left: 16%;
    margin-right: 20%;
    padding-left: 10%;
    background: #ffffff;
}

h1 {
    margin-left : 24%;
}

button {
    margin-left : 30%;
}

.Radio{
    margin-left: 4%
}
