.Image_location_svg{
    height: 90%;
    width: 90%;
    margin-left: 5%;
}

.Main_text_spotlight{
    text-align: center;
    margin-top: 30%;
    margin-right: 5%;
    color: rgb(237, 241, 241);
    font-family: 'Open Sans Condensed', sans-serif;
}