@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.Navbar_background_color{
    background-color: #5bd1cb;
    color: white;
}

.Navbar_title{
    font-family: 'Luckiest Guy', cursive;
    color: white !important;
    font-size: large !important;
}

.Navbar_offset{
    margin-right: 5%;
}